name: Postman tests

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: '16.x'
    - name: Install dependencies
      run: |
        npm i
    - name: Compile
      run: |
        npm run build  
    - name: Running elasticsearch
      run: |
        docker run \
          -p 9200:9200 \
          -p 9300:9300 \
          -e "discovery.type=single-node" \
          -e "bootstrap.memory_lock=true" \
          -d docker.elastic.co/elasticsearch/elasticsearch:7.13.2
    - name: Elasticsearch Node is reachable
      run: |
        wget -q --waitretry=1 --retry-connrefused -T 180 -O - http://127.0.0.1:9200
    - name: Install newman
      run: |
        npm install -g newman
        npm install -g newman-reporter-htmlextra

    - name: Make Directory for results
      run: |
        mkdir -p testResults

    - name: Run POSTMAN collection
      env:
        ELASTIC_URL: "http://localhost:9200"
        ELASTIC_INDEX: "marketplace"
        ELASTIC_USERNAME: "elastic"
        ELASTIC_PASSWORD: "password"
      run: | 
        npm run setup:dev
        npm run dev &
        sleep 10
        npm run test:postman
    - name: Output the run Details
      uses: actions/upload-artifact@v2
      with: 
       name: RunReports
       path: testResults