name: Unit and integration Tests

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: '16.x'
    - name: Install dependencies
      run: |
        npm i
    - name: Compile and lint
      run: |
        npm run build
        npm run lint     
    - name: Run tests
      run: |
        npm run setup:dev
        npm run test:cov
